# System files
# ------------
Icon
.DS_Store


# Temporary files
# ---------------
/site/cache/*
/thumbs/*
!/thumbs/index.html
!/site/cache/index.html


# Ignore CSS & Map File
# ---------------
*.map


# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------
/site/accounts/*
!/site/accounts/index.html

# Avatars
# ---------------
/assets/avatars/*
!/assets/avatars/index.html
