@import '../base/variables';
@import '../components/slider';

.t-home {
    .c-nav a {
        color: $black;

        @include break(grande) {
            color: $white;
        }
    }

    @include break(grande) {
        .c-nav {
            img {
                height: 10em;
            }
        }
    }
}

.t-home__slider {
    margin-top: 10em;

    @include break(grande) {
        margin-top: 0;
    }
}
