@import '/base/vars';

.t-rental-plp__category {
    padding: 20em 5em 2em;

    transition: all 0.25s ease-out;

    &:hover {
        padding: 19em 5em 3em;
    }

    &::after {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        opacity: 0.5;
        background: linear-gradient(to bottom, transparent, transparent, $black);

        transition: all 0.25s ease-out;
    }

    &:hover::after {
        opacity: 0.1;
    }
}
