.c-contain {
    max-width: $configure--base-unit*68;
    margin-right: auto;
    margin-left: auto;
    padding: 0 5%;
}

.col-three,
.col-twothirds {
    display: block;

    @include break(venti) {
        float: left;
    }
}

.col-three {
    @include break(venti) {
        width: (100%/3);
    }
}

.col-twothirds {
    @include break(venti) {
        width: ((100%/3)*2);
        padding-left: 5%;
    }
}
