@import '../base/variables';

.c-grid {
    margin: 0 -1em;

    > * {
        float: left;

        width: 100%;
        padding-right: 1em;
        padding-left: 1em;

        @include break(grande) {
            width: 50%;
        }

        @include break(venti) {
            width: 33.33%;
        }
    }
}
