@import '../base/variables';

.c-video-grid {
    flex-flow: row wrap;

    *,
    *::before,
    *::after {
        transition: map-get($transition-map, slow);
    }
}

.c-video-grid__item {
    flex: 1 1 auto;
    min-width: (100% / 2);
    max-width: (100% / 1);

    @include break(grande) {
        min-width: (100% / 2);
        max-width: (100% / 2);
    }

    @include break(venti) {
        min-width: (100% / 3);
        max-width: (100% / 3);
    }

    @include break(supersize) {
        min-width: (100% / 4);
        max-width: (100% / 4);
    }

    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;

        display: block;

        background: rgba($black, 0);
    }

    &:hover {
        &::before {
            background: rgba($black, 0.75);
        }

        .c-video-grid__text {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

.c-video-grid__text {
    padding: 7em 0;

    opacity: 0;

    transform: translate(0, 50%);

    > *:not(:last-child) {
        margin-bottom: map-get($size-map, xs);
    }
}
