.c-footer {
    padding-top: 10vw !important;
}

.c-footer__list {
    margin-bottom: map-get($size-map, sm);

    @include break(grande) {
        float: left;

        padding-right: 5vw;

        line-height: $line-height--base;
    }
}

.c-footer__post {
    clear: both;

    @include break(venti) {
        float: right;
        clear: right;
    }
}
