.c-footer {
    padding-top: 10vh !important;
    text-align: center;

    @include break(grande) {
        line-height: $line-height--base;
        text-align: left;
    }
}

.c-footer__list {
    @include break(grande) {
        float: left;
    }

    li {
        display: inline-block;
        padding-right: 3vw;
    }
}

.c-footer__icon {
    width: 2em;
    opacity: 0.5;
    transition: all 200ms;

    &:hover {
      opacity: 1;
    }
}

.c-footer__post {
    clear: both;

    @include break(venti) {
        float: right;
        clear: right;
    }
}
