.c-nav {
    @include _clearfix;

    z-index: 100;
}

.c-nav__logo {
    display: block;
    overflow: hidden;
    width: 4em;
    height: 4em;
    margin-top: 1em;

    background-image: url('../images/lawn-party-films.png');
    background-position: center;
    background-size: cover;

    text-indent: -100%;

    @include break(grande) {
        float: left;
    }

    &:hover {
        background-image: url('../images/lawn-party-films--hover.gif');
    }

}

.c-nav__list {
    @include _clearfix;

    @include break(grande) {
        float: right;
    }
}

.c-nav__list-item {
    @include break(grande) {
        width: auto;
        margin-left: 4vw;
    }

    &[id='navHome'] {
        display: none;

        @include break(grande) {
            display: block;
        }
    }

    a {
        height: $tap-size;

        box-shadow: inset 0 0 0 $green;

        transition: map-get($transition-map, slow);

        @include break(grande) {
            height: $tap-size*2;

            &:hover {
                box-shadow: inset 0 4em 0 $green;
            }
        }
    }
}
