.c-nav {
    @include _clearfix;

    z-index: 999999;

    transition: map-get($transition-map, slow);
}

.c-nav__logo {
    @include break(grande) {
        float: left;
    }

    width: 4rem;
    height: 4rem;
    margin-top: map-get($size-map, small);

    background-image: url('../images/lawn-party-films.png');

    &:hover {
        background-image: url('../images/lawn-party-films--hover.gif');
    }
}

.c-nav__list {
    @include _clearfix;
    @include break(grande) {
        float: right;
    }
}

.c-nav__list-item {
    @include break(grande) {
        width: auto;
        margin-left: 4vw;
    }

    &[id='navHome'] {
        @include break(grande) {
            display: block;
        }

        display: none;
    }

    a {
        @include break(grande) {
            height: $tap-size*2;

            &:hover {
                box-shadow: inset 0 4rem 0 $green;
            }
        }

        height: $tap-size;

        box-shadow: inset 0 0 0 $green;

        transition: map-get($transition-map, slow);
    }
}
