.c-nav {
    @include _clearfix;

    z-index: map-get($z-map, modal);
    padding: 5vh 0;
    line-height: 1.5;
    transition: map-get($transition-map, slow);
}

.c-nav__title {
    display: block;
    padding-bottom: map-get($size-map, xs);
    text-align: center;

    span {
        display: block;
    }

    span + span {
        font-size: 0.8em;

        @include break(grande) {
          font-size: 0.9em;
        }
    }

    @include break(grande) {
        flex: 0 0 auto;
        padding: 0;
        text-align: left;
    }
}

.c-nav__list {
    justify-content: center;
    padding: 0 5vw;
    font-size: 0.9em;

    @include break(grande) {
        font-size: 1em;
        padding: 0;
    }
}

.c-nav__list-item {
    margin-right: 2vw;
    margin-left: 2vw;
    white-space: nowrap;

    @include break(grande) {
        flex: auto;
        min-width: $tap-size;
        margin-right: 0;
        margin-left: 5vw;
        padding: 0;
    }

    &[id='navHome'] {
        @include break(venti) {
            display: block;
        }

        display: none;
    }

    a {
        height: $tap-size;
        transition: map-get($transition-map, fast);

        @include break(grande) {
            height: $tap-size * 2;
            font-size: 0.9em;

            &:hover {
                text-decoration: none;
                transform: scale(1.1) rotate(-3deg);
            }
        }
    }
}
