.arrow {
  width: 18,
  height: 13,
  viewBox: 0 0 18 13
}

.next {
  height: $tap-size;
  transition: map-get($transition-map, fast);

  @include break(grande) {
      height: $tap-size * 2;
      font-size: 0.9em;

      &:hover {
          text-decoration: none;
          transform: scale(1.1) rotate(-3deg);
      }
  }
}
