// These styles are isolated to the `c-next-link` component.
// ---
// Use already-written code, such as _variables, utilities, and @includes. New
// CSS should only be added as a last resort, if you are unable to use anything
// else in the project.


.c-next-link {
    // styles for the entire container

    z-index: map-get($z-map, basic);
    width: 15rem; // change to adjust size of the entire block
    padding-right: 0;
     // changing the padding will push the block off the edge
    &:hover {
        text-decoration: none;
        transform: scale(1.1) rotate(-3deg);
    }
}

.c-next-link__arrow {
    // styles for the arrow only

    z-index: map-get($z-map, stack);
    max-width: none; // override any previous max-width that is applied.
    width: 25%; // will fill the parent container.
    height: auto; // retains the same width/height proportions as it scales.


    @include break(grande) {
        // styles for larger breakpoints
        color: red;
        min-width: $tap-size;
        padding: 0;
    }
}

.c-next-link__text {
      z-index: map-get($z-map, stack);
      height: $tap-size;
      // styles for the text only

    @include break(grande) {
        // styles for larger breakpoints

        min-width: $tap-size;
        padding: 0;
    }

}
