.c-section {
    overflow: hidden;

    &:not(.c--no-padding) {
        padding-top: map-get($size-map, md);
        padding-bottom: map-get($size-map, md);

        @include break(grande) {
            padding-top: map-get($size-map, lg);
            padding-bottom: map-get($size-map, lg);
        }
    }

    &.c--large {
        padding-top: map-get($size-map, xl);
    }

    &.c--header {
        position: relative;

        &::before {
            content: '';

            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 100;

            height: 10em;

            background: linear-gradient(to bottom, rgba($black, 0.5), rgba($black, 0));
        }
    }
}
