.c-section {
    overflow: hidden;

    &:not(.c--no-padding) {
        padding-top: map-get($size-map, md);
        padding-bottom: map-get($size-map, md);

        @include break(grande) {
            padding-top: map-get($size-map, lg);
            padding-bottom: map-get($size-map, lg);
        }
    }

    &.c--large {
        padding-top: map-get($size-map, lg);
        padding-bottom: map-get($size-map, lg);

        @include break(grande) {
            padding-top: map-get($size-map, xl);
            padding-bottom: map-get($size-map, xl);
        }
    }
}
