.c-video-grid {
    flex-flow: row wrap;

    *,
    *::before,
    *::after {
        transition: map-get($transition-map, slow);
    }

    @include break(grande) {
        margin: 0 -0.5rem;
    }
}

.c-video-grid__item {
    flex: 1 1 auto;
    min-width: (100% / 1);
    max-width: (100% / 1);
    border-bottom: 5vw solid $black;

    @include break(grande) {
        min-width: (100% / 2);
        max-width: (100% / 2);
        border: 0.5rem solid $black;
    }

    @include break(tetra) {
        min-width: (100% / 3);
        max-width: (100% / 3);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: rgba($black, 0.25);
        pointer-events: none;
    }

    &:hover {

        &::before {
            background: rgba($black, 0);
        }

        .c-video-grid__text {
            opacity: 1;
            transform: translate(0, -10%);
        }
    }
}

.c-video-grid__text {
    padding: 50% 2rem 2rem;
    opacity: 0.8;

    > *:not(:last-child) {
        margin-bottom: map-get($size-map, xs);
    }
}
