// Utilities: Appearance
// ============================================================================

.u-circle {
    border-radius: map-get($appearances-map, circle);
}

.u-half-transparent {
    opacity: map-get($appearances-map, half-transparent);
}

.u-fully-transparent {
    opacity: map-get($appearances-map, fully-transparent);
}

.u-gradient {
    position: relative;

    &::after {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;

        opacity: 0.5;
        background: linear-gradient(to bottom, transparent, transparent, white);

        transition: map-get($transition-map, slow);

        pointer-events: none;
    }

    &:hover::after {
        opacity: 0.1;
    }
}
