// Text Styles
// ============================================================================
//
// 1. The same style could be applied by using an element. Think about what may
//    be more semantically correct for your specific situation.

.u-regular {
    font-weight: $font-weight--base; // 1
}

.u-bold {
    font-weight: bold; // 1
}

.u-italic {
    font-style: italic; // 1
}

.u-mono {
    font-family: 'menlo', monospace;
}

.u-small-text {
    font-size: 0.75rem;
}

.u-linethrough {
    text-decoration: line-through;
}

.u-underline {
    text-decoration: underline;
}

.u-tracked-slightly {
    letter-spacing: map-get($tracking-map, slight);
}

.u-tracked-loose {
    letter-spacing: map-get($tracking-map, loose);
}

.u-thick-text-shadow {
    text-shadow: map-get($appearances-map, thick-shadow);
}

.u-thin-text-shadow {
    text-shadow: map-get($appearances-map, thick-shadow);
}


// Text Alignment
// ---

.u-align-left {
    text-align: left;
}

.u-align-center {
    text-align: center;
}

.u-align-right {
    text-align: right;
}


// Text Casing
// ---

.u-uppercase {
    text-transform: uppercase;
}

.u-lowercase {
    text-transform: lowercase;
}

.u-capitalize {
    text-transform: capitalize;
}


// Text Clipping
// ---

.u-text-clip {
    overflow: hidden;

    line-height: 0;
    white-space: nowrap;
    text-indent: 100%;
}
